.page-elements {
  .icon-right-open {
    font-size: 1rem;
  }

  [data-pell] {
    background-color: white;
    border: 1px solid $gray-400;
  }
  [data-pell], .pell-actionbar {
    border-radius: #{5/$base-font-size}rem;
  }

  .pell-content, .origin-text {
    resize: vertical;
    overflow-y: auto;
  }

  .pell-content {
    height: #{75/$base-font-size}rem;
    padding: #{10/$base-font-size}rem;
  }

  .origin-text {
    height: #{108/$base-font-size}rem;
    background-color: $gray-200;
  }

  .loader {
    width: calc(100% - 30px);
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(black,0.15);
    border-radius: 4px;
    display: none;
  }

  textarea {
    height: 100%;
  }

  [data-content], .pell-content {
    &.dirty {
      border-color: rgb(255, 192, 138);
      background-color: rgba(255, 102, 0, 0.05);

      &:focus {
        -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 192, 138, 0.25);
        -moz-box-shadow: 0 0 0 0.2rem rgba(255, 192, 138, 0.25);
        box-shadow: 0 0 0 0.2rem rgba(255, 192, 138, 0.25);
      }
    }
  }
}