.translations-dashboard-progress {
  .quantity {
    font-size: 1.67rem;
    font-weight: bolder;
    margin-bottom: 0.25rem;
  }

  small {
    font-size: 70%;
    font-weight: bold;
  }

  .progress {
    height: 0.25rem;
    background-color: #eaeef3;
    border-radius: 0.25rem;
    margin: 0.8rem 0;
  }
}