.translations-dashboard-card {
  border: $border;
  padding: 1.25rem;
  background-color: white;
  position: relative;

  &.linked:hover {
    .translations-dashboard-home-card {
      .summary-footer {
        text-decoration: underline;
      }
    }
  }

  > .link {
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
}