$sidebar-length-collapsed: 75px;
$sidebar-length: 200px;
$content-padding: 20px;
$header-height: 50px;
$icons-size: 1.3rem;
$base-font-size: 16;

$background: #f9fafb;
$primary-color: #EEEEEE;
$border: 1px solid $primary-color;

$blue: #00abff;
$orange: orange;
$green: #6dbd6d;
$purple: #a485b7;
$colors: ("orange": $orange, "blue": $blue, "green": $green, "purple": $purple);
